[submodule "alurafood-server"]
	path = alurafood-server
	url = git@github.com:Michel172002/alurafood-server.git
	branch = master
[submodule "alurafood-pedidos"]
	path = alurafood-pedidos
	url = git@github.com:Michel172002/alurafood-Pedidos.git
	branch = master
[submodule "alurafood-pagamentos"]
	path = alurafood-pagamentos
	url = git@github.com:Michel172002/alurafood-Pagamentos.git
	branch = master
[submodule "alurafood-gateway"]
	path = alurafood-gateway
	url = git@github.com:Michel172002/alurafood-gateway.git
	branch = master
